<div class="container-inputs-reg">
  <div class="container-inputs-inp">
    <div class="input-search">
      <input placeholder="User" type="text">
    </div>
    <div class="input-search">
      <input placeholder="E-mail" type="text">
    </div>
    <div class="input-search">
      <input placeholder="Password" type="text">
    </div>
    <div class="input-search">
      <input placeholder="Password" type="text">
    </div>
    <div class="btn-search">
      <button (click)="onClickLogin()">SIGN IN</button>
      <button (click)="onClickRegister()">SIGN UP</button>
    </div>
  </div>
</div>